<!--<div class="sidenav">-->
<!--<i class=" fa fa-2x fa-users"></i>-->
<!--<i class=" fa fa-2x fa-user"></i>-->
<!--<i class=" fa fa-2x fa-edit"></i>-->
<!--</div>-->
<div class="container-fluid text-center">
  <br/>
  <button class="float-right btn btn-light fa-lg fa fa-th-list" (click)="switchMode()"></button>
  <h3><strong>All Users</strong></h3>
  <table class="table table-hover table-bordred table-striped" *ngIf="listMode">
    <thead class="thead-dark">
    <th>Image</th>
    <th>Username</th>
    <th *ngIf="admin">Password</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Date of Birth</th>
    <th>Address</th>
    <th>Phone</th>
    <th>Gender</th>
    <th>Role</th>
    <th *ngIf="admin"></th>
    <th *ngIf="admin"></th>
    </thead>
    <tbody>
    <tr *ngIf="admin">
      <td>
        <div class="dropdown">
          <button class="btn btn-light btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="{{user.img_path}}" width="20px"> Img
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <button (click)="user.img_path = boyImg" class="dropdown-item"><img src="{{boyImg}}" width="50px"> Boy
            </button>
            <button (click)="user.img_path = girlImg" class="dropdown-item"><img src="{{girlImg}}" width="50px"> Girl
            </button>
            <button (click)="user.img_path = boyImg2" class="dropdown-item"><img src="{{boyImg2}}" width="50px"> Teen Boy
            </button>
            <button (click)="user.img_path = girlImg2" class="dropdown-item"><img src="{{girlImg2}}" width="50px"> Teen Girl
            </button>
            <button (click)="user.img_path = manImg" class="dropdown-item"><img src="{{manImg}}" width="50px"> Man
            </button>
            <button (click)="user.img_path = womanImg" class="dropdown-item"><img src="{{womanImg}}" width="50px"> Woman
            </button>
            <button (click)="user.img_path = oldmanImg" class="dropdown-item"><img src="{{oldmanImg}}" width="50px"> Old Man
            </button>
            <button (click)="user.img_path = oldwomanImg" class="dropdown-item"><img src="{{oldwomanImg}}" width="50px"> Old Woman
            </button>
          </div>
        </div>
      </td>
      <td><input [(ngModel)]="user.username"
                 placeholder="Username"
                 class="form-control"/></td>
      <td ><input [(ngModel)]="user.password"
                 placeholder="Pssword"
                 class="form-control"
                 type="password"/></td>
      <td><input [(ngModel)]="user.firstName"
                 placeholder="First Name"
                 class="form-control"/></td>
      <td><input [(ngModel)]="user.lastName"
                 placeholder="Last Name"
                 class="form-control"/></td>
      <td><input [(ngModel)]="user.dateB"
                 placeholder="Date of Birth"
                 type="date"
                 class="form-control"/></td>
      <td><input [(ngModel)]="user.address"
                 placeholder="Address"
                 class="form-control"/></td>
      <td><input [(ngModel)]="user.phone"
                 placeholder="Phone"
                 class="form-control"/></td>
      <td>
        <div class="form-group">
          <!--<label for="selectRole">Select role:</label>-->
          <select [(ngModel)]="user.gender" class="form-control" id="selectGender">
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
        </div>
      </td>
      <td>
        <div class="form-group">
          <!--<label for="selectRole">Select role:</label>-->
          <select [(ngModel)]="user.role" class="form-control" id="selectRole">
            <option value="user">User</option>
            <option value="admin">Admin</option>
          </select>
        </div>
      </td>
      <td>
        <p *ngIf="!editMode" data-placement="top" data-toggle="tooltip" title="Add">
          <button (click)="createUser()"
                  class="btn btn-success btn-xs fa fa-plus"></button>
        </p>
        <p *ngIf="editMode" data-placement="top" data-toggle="tooltip" title="Add">
          <button (click)="updateUser()"
                  class="btn btn-success btn-xs fa fa-upload"></button>
        </p>
      </td>
      <td>
        <p data-placement="top" data-toggle="tooltip" title="Clean">
          <button (click)="cleanData()"
                  class="btn btn-danger btn-xs fa fa-times"></button>
        </p>
      </td>
    </tr>
    <tr *ngFor="let user of users" routerLink= {{routerLink}}{{user.username}}>
      <td *ngIf="admin" routerLink={{routerLink}}{{user.username}} class="btn" ><img src="{{user.img_path}}" width="50px" ></td>
      <td *ngIf="!admin" routerLink={{routerLink}}{{user.username}} class="btn" ><img src="{{user.img_path}}" width="50px" ></td>
      <td>{{user.username}}</td>
      <td *ngIf="admin"> ********</td>
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.dateB}}</td>
      <td>{{user.address}}</td>
      <td>{{user.phone}}</td>
      <td>{{user.gender}}</td>
      <td>{{user.role}}</td>
      <td *ngIf="admin">
        <p data-placement="top" data-toggle="tooltip" title="Edit">
          <button *ngIf="admin" (click)="editUser(user)"
                  class="btn btn-primary btn-xs fa fa-edit"></button>
        </p>
      </td>
      <td *ngIf="admin">
        <p data-placement="top" data-toggle="tooltip" title="Delete">
          <button *ngIf="admin"
            (click)="deleteUser(user._id)"
            class="btn btn-danger btn-xs fa fa-trash"></button>
        </p>
      </td >
    </tr>
    </tbody>
  </table>


  <div class="card-deck d-flex justify-content-center" *ngIf="!listMode">
    <div *ngFor="let u of users">
    <div *ngIf="true" class="card shadow-lg p-3 mb-5 bg-white rounded" style="width: 14rem; margin:20px">
      <div class="btn" routerLink="{{routerLink}}{{u.username}}">
      <img class="card-img-top img-fluid bg-light" src="{{u.img_path}}" alt="Card image">
        <h4 class="card-title card-header ">@<strong>{{u.username}}</strong></h4>
      </div>
      <div class="card-body">
        <h6 class="card-text">First Name: <em>{{u.firstName}}</em></h6>
        <h6 class="card-text">Last Name: <em>{{u.lastName}}</em></h6>
        <button class="btn btn-block btn-sm btn-primary" routerLink="{{routerLink}}{{u.username}}"> View Profile</button>
      </div>
    </div>
    </div>
  </div>

</div>





