<div>

  <nav class="navbar navbar-expand-md navbar-dark navigator">
    <a class="navbar-brand" routerLink="./home"><h3>MovieDB</h3></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="./home" routerLinkActive="active"> Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="./about" routerLinkActive="active"> About </a>
        </li>
        <!--<li class="nav-item">-->
          <!--<a class="nav-link" routerLink="./search" routerLinkActive="active"> Search </a>-->
        <!--</li>-->
      </ul>
      <div class="mx-2 my-auto d-inline w-100">
        <div class="input-group" *ngIf="searchBardMode===0">
          <input type="text" [(ngModel)]="title" (keyup)="search()" class="form-control border border-right-0"
                 placeholder="Press the button to go to Advanced Search --> ">
          <span class="input-group-append">
                <button class="btn btn-light border border-left-0" (click)="advancedSearch()"
                        type="button">
                    <i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </div>


      <ul class="navbar-nav">
        <li class="nav-item">
          <i class="btn fas fa-search-plus fa-lg" (click)="this.changeSearchMode()"></i>
        </li>
      </ul>
      <ul class="navbar-nav" *ngIf="!loggedIn">

        <li class="nav-item dropdown">
          <a class="nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-cog fa-lg"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right text-center" style="margin-top: 15px" >
            <button class="dropdown-item" routerLink="./login" routerLinkActive="active"><i
              class="fas fa-sign-in-alt"></i> Sign In
            </button>
            <button class="dropdown-item" routerLink="./register" routerLinkActive="active"><i
              class="fas fa-user-plus"></i> Sign Up
            </button>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav" *ngIf="loggedIn">
        <li class="nav-item dropdown">
          <a class="nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user-circle fa-2x"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right text-center" style="margin-top: 10px">
            <button class="dropdown-item" routerLink="./profile" routerLinkActive="active"><i class="fas fa-user"></i>
              Profile
            </button>
            <button class="dropdown-item" (click)="logout()"><i class="fas fa-door-open"></i> Sign Out</button>
          </div>
        </li>
      </ul>


    </div>
  </nav>

  <div class="" *ngIf="searchBardMode===1">
  <div class="input-group container-fluid" style="padding: 0px 15px">
    <input type="text" [(ngModel)]="title" (keyup)="search()" class="form-control border border-right-0"
           placeholder="Press the button to go to Advanced Search --> ">
    <span class="input-group-append">
                <button class="btn btn-light border border-left-0" (click)="advancedSearch()"
                        type="button">
                    <i class="fa fa-search "></i>
                </button>
              </span>
  </div>
  </div>


  <div *ngIf="results" class="">
    <div class="container-fluid">
        <ul *ngFor="let res of results" class="list-group list-group-dark">
          <!--<div class="list-group" style="margin: 2px" >-->
          <li style="padding: 10px" class="list-group-item list-group-item-light list-group-item-action" (click)="navigateMovie(res.id)">

            {{res.title}}
            <!--<img src="{{img}}{{res.poster_path}}" width="100">-->
            <!--<p> {{res.overview.substring(0, 250)+'...' }} </p>-->
            <!--<div>-->
            <!--<strong>Genres: </strong>-->
            <!--<span>Genre</span>-->
            <!--</div>-->
          </li>
        </ul>
      <br/>
    </div>
  </div>
</div>
