<div class="container">
<br/>
    <input [(ngModel)]="title" class="form-control"/>
    <button (click)="searchMovie()" class="btn btn-block btn-dark"> Search</button>

  <div class="row" *ngIf="result && result2">
    <div class="col-6">
      <h2 class="text-center"> OMDB API</h2>

      <ul class="list-group" >
        <li class="list-group-item" *ngFor="let movie of result.Search">
          <div class="row">
            <div class="col-8">
             <h3> {{movie.Title}}</h3>
            </div>
            <div class="col-4">
              <img src={{movie.Poster}} width="100">
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-6">

      <h2 class="text-center"> TMDB API</h2>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let movie of result2.results">
          <div class="row">
            <div class="col-8">
             <h3>{{movie.title}}</h3>
            </div>
            <div class="col-4">
              <img src="{{img}}{{movie.poster_path}}" width="100">
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

