<div class="container-fluid">
  <br/>
  <h3>List of Actions</h3>
  <br/>

  <table class="table table-responsive-md">
    <thead class="thead-dark">
    <tr>
      <th scope="col">User Icon</th>
      <th scope="col">User</th>
      <th scope="col">Action</th>
      <th scope="col">Action Icon</th>
      <th scope="col">Movie/User</th>
      <th scope="col">Date</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let activity of activities">
      <td><img src="{{activity.user.img_path}}" width="50px" ></td>
      <td>@{{activity.user.username}}</td>
      <td>{{activity.type}}</td>
      <td *ngIf="activity.type === 'like'"><i class="fa fa-heart fa-lg"></i></td>
      <td *ngIf="activity.type === 'unlike'"><i class="far fa-heart fa-lg"></i></td>
      <td *ngIf="activity.type === 'bookmark'"><i class="fa fa-bookmark fa-lg"></i></td>
      <td *ngIf="activity.type === 'unbookmark'"><i class="far fa-bookmark fa-lg"></i></td>
      <td *ngIf="activity.type === 'add review'"><i class="fa fa-comment fa-lg"></i></td>
      <td *ngIf="activity.type === 'delete review'"><i class="far fa-comment fa-lg"></i></td>
      <td *ngIf="activity.type === 'follow'"><i class="fa fa-user fa-lg"></i></td>
      <td *ngIf="activity.type === 'unfollow'"><i class="far fa-user fa-lg"></i></td>

      <td *ngIf="activity.type !== 'follow' && activity.type !== 'unfollow'">{{activity.movie.title}}</td>
      <td *ngIf="activity.type === 'follow' || activity.type === 'unfollow'">@{{activity.user2.username}}</td>

      <td>{{activity.date.split("T")[0]}}</td>
    </tr>
    </tbody>
  </table>


</div>





