<!--<div class="sidenav">-->
<!--<i class=" fa fa-2x fa-users"></i>-->
<!--<i class=" fa fa-2x fa-user"></i>-->
<!--<i class=" fa fa-2x fa-edit"></i>-->
<!--</div>-->
<div class="container-fluid text-center">
  <br/>
  <h4>List of Users</h4>
  <table class="table table-responsive table-hover table-bordred table-striped" [ngClass]="{'usertable': !admin}">
    <thead>
    <th>Username</th>
    <th>Activity</th>
    <th>Movie</th>
    <th>Date</th>
    </thead>
    <tbody>
    <tr>
      <td>
        <div class="dropdown">
          <button class="btn btn-light btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="{{user.img_path}}" width="20px"> Img
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <button (click)="user.img_path = boyImg" class="dropdown-item"><img src="{{boyImg}}" width="50px"> Boy
            </button>
            <button (click)="user.img_path = girlImg" class="dropdown-item"><img src="{{girlImg}}" width="50px"> Girl
            </button>
            <button (click)="user.img_path = boyImg2" class="dropdown-item"><img src="{{boyImg2}}" width="50px"> Teen Boy
            </button>
            <button (click)="user.img_path = girlImg2" class="dropdown-item"><img src="{{girlImg2}}" width="50px"> Teen Girl
            </button>
            <button (click)="user.img_path = manImg" class="dropdown-item"><img src="{{manImg}}" width="50px"> Man
            </button>
            <button (click)="user.img_path = womanImg" class="dropdown-item"><img src="{{womanImg}}" width="50px"> Woman
            </button>
            <button (click)="user.img_path = oldmanImg" class="dropdown-item"><img src="{{oldmanImg}}" width="50px"> Old Man
            </button>
            <button (click)="user.img_path = oldwomanImg" class="dropdown-item"><img src="{{oldwomanImg}}" width="50px"> Old Woman
            </button>
          </div>
        </div>
      </td>
      <td><input [(ngModel)]="user.username"
                 placeholder="Username"
                 class="form-control"/></td>
      <td ><input [(ngModel)]="user.password"
                 placeholder="Pssword"
                 class="form-control"
                 type="password"/></td>
      <td><input [(ngModel)]="user.firstName"
                 placeholder="First Name"
                 class="form-control"/></td>
      <td><input [(ngModel)]="user.lastName"
                 placeholder="Last Name"
                 class="form-control"/></td>
      <td><input [(ngModel)]="user.dateB"
                 placeholder="Date of Birth"
                 type="date"
                 class="form-control"/></td>
      <td><input [(ngModel)]="user.address"
                 placeholder="Address"
                 class="form-control"/></td>
      <td><input [(ngModel)]="user.phone"
                 placeholder="Phone"
                 class="form-control"/></td>
      <td>
        <div class="form-group">
          <!--<label for="selectRole">Select role:</label>-->
          <select [(ngModel)]="user.gender" class="form-control" id="selectGender">
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
        </div>
      </td>
      <td>
        <div class="form-group">
          <!--<label for="selectRole">Select role:</label>-->
          <select [(ngModel)]="user.role" class="form-control" id="selectRole">
            <option value="user">User</option>
            <option value="admin">Admin</option>
          </select>
        </div>
      </td>
      <td>
        <p *ngIf="!editMode" data-placement="top" data-toggle="tooltip" title="Add">
          <button (click)="createUser()"
                  class="btn btn-success btn-xs fa fa-plus"></button>
        </p>
        <p *ngIf="editMode" data-placement="top" data-toggle="tooltip" title="Add">
          <button (click)="updateUser()"
                  class="btn btn-success btn-xs fa fa-upload"></button>
        </p>
      </td>
      <td>
        <p data-placement="top" data-toggle="tooltip" title="Clean">
          <button (click)="cleanData()"
                  class="btn btn-danger btn-xs fa fa-times"></button>
        </p>
      </td>
    </tr>
    </tbody>
  </table>
</div>





