<div class="container">
  <h1>Profile</h1>
  <i *ngIf="!edit && profile" class="btn btn-info float-left fas fa-toggle-off" (click)="toggleEdit()"
     style="margin-bottom: 10px">
    Edit</i>
  <i *ngIf="edit" class="btn btn-info float-left fas fa-toggle-on" (click)="toggleEdit()" style="margin-bottom: 10px">
    Edit</i>
  <br/>

  <div *ngIf="edit" class="text-center container row">

    <div class="col-md-6 col-lg6">
      <div class="row">
        <div class="card col-3 btn btn-light" [ngClass]="{'active': user.img_path === boyImg}"
             (click)="user.img_path = boyImg">
          <img class="card-img" src="{{boyImg}}" alt="Smiley face" width="20px"/>
          <p class="card-text"><strong> BOY </strong></p>
        </div>
        <div class="card col-3 btn btn-light" [ngClass]="{'active': user.img_path === girlImg}"
             (click)="user.img_path = girlImg">
          <img class="card-img" src="{{girlImg}}" alt="Smiley face" width="20px"/>
          <p class="card-text"><strong>GIRL</strong></p>
        </div>
        <div class="card col-3 btn btn-light" [ngClass]="{'active': user.img_path === boyImg2}"
             (click)="user.img_path = boyImg2">
          <img class="card-img" src="{{boyImg2}}" alt="Smiley face" width="20px"/>
          <p class="card-text"><strong>TEEN B</strong></p>
        </div>
        <div class="card col-3 btn btn-light" [ngClass]="{'active': user.img_path === girlImg2}"
             (click)="user.img_path = girlImg2">
          <img class="card-img" src="{{girlImg2}}" alt="Smiley face" width="20px"/>
          <p class="card-text"><strong>TEEN G</strong></p>
        </div>
        <div class="card col-3 btn btn-light" [ngClass]="{'active': user.img_path === manImg}"
             (click)="user.img_path = manImg">
          <img class="card-img" src="{{manImg}}" alt="Smiley face" width="20px"/>
          <p class="card-text"><strong>MAN</strong></p>
        </div>
        <div class="card col-3 btn btn-light" [ngClass]="{'active': user.img_path === womanImg}"
             (click)="user.img_path = womanImg">
          <img class="card-img" src="{{womanImg}}" alt="Smiley face" width="20px"/>
          <p class="card-text"><strong>WOMAN</strong></p>
        </div>
        <div class="card col-3 btn btn-light" [ngClass]="{'active': user.img_path === oldmanImg}"
             (click)="user.img_path = oldmanImg">
          <img class="card-img" src="{{oldmanImg}}" alt="Smiley face" width="20px"/>
          <p class="card-text"><strong>OLD M</strong></p>
        </div>
        <div class="card col-3 btn btn-light" [ngClass]="{'active': user.img_path === oldwomanImg}"
             (click)="user.img_path = oldwomanImg">
          <img class="card-img" src="{{oldwomanImg}}" alt="Smiley face" width="20px"/>
          <p class="card-text"><strong>OLD W</strong></p>
        </div>

      </div>

      <!--<img src="{{user.img_path}}" alt="Smiley face" width="100px"-->
      <!--class="btn btn-outline-dark active rounded " style="border: 2px solid black"/>-->
      <!--<img src="{{user.img_path}}" alt="Smiley face" width="100px"-->
      <!--class="btn btn-outline-dark active rounded img-fluid mx-auto d-block" style="border: 2px solid black"/>-->
      <!--<img src="{{user.img_path}}" alt="Smiley face" width="100px"-->
      <!--class="btn btn-outline-dark active rounded img-fluid mx-auto d-block" style="border: 2px solid black"/>-->
      <!--<img src="{{user.img_path}}" alt="Smiley face" width="100px"-->
      <!--class="btn btn-outline-dark active rounded img-fluid mx-auto d-block" style="border: 2px solid black"/>-->
      <!--<img src="{{user.img_path}}" alt="Smiley face" width="100px"-->
      <!--class="btn btn-outline-dark active rounded img-fluid mx-auto d-block" style="border: 2px solid black"/>-->
      <br/>
      <label class=""><strong>Custom Image Path:</strong></label>
      <input [(ngModel)]="user.img_path"
             placeholder="Image url"
             class="form-control"/>
    </div>
    <div class="col-md-6 col-lg6">
      <div class="container bg-light">
        <ul class="list-group list-group-flush">
          <!--<li class="list-group-item bg-light"><h3 class="float-left"><strong>Username:</strong> </h3> <div class="float-right ">-->
          <!--<input [(ngModel)]="user.username"-->
          <!--placeholder="username"-->
          <!--class="form-control"/>-->
          <!--</div></li>-->
          <li class="list-group-item bg-light"><h3 class="float-left"><strong>Password:</strong></h3>
            <div class="float-right ">
              <input [(ngModel)]="user.password"
                     type="password"
                     placeholder="password"
                     class="form-control"/>
            </div>
          </li>

          <li class="list-group-item bg-light"><h3 class="float-left"><strong>First Name:</strong></h3>
            <div class="float-right">
              <input [(ngModel)]="user.firstName"
                     placeholder="first name"
                     class="form-control"/>
            </div>
          </li>
          <li class="list-group-item bg-light"><h3 class="float-left"><strong>Last Name:</strong></h3>
            <div class="float-right">
              <input [(ngModel)]="user.lastName"
                     placeholder="last name"
                     class="form-control"/>
            </div>
          </li>
          <li class="list-group-item bg-light"><h3 class="float-left"><strong>Email:</strong></h3>
            <div class="float-right">
              <input [(ngModel)]="user.email"
                     placeholder="email"
                     class="form-control"/>
            </div>
          </li>
          <li class="list-group-item bg-light"><h3 class="float-left"><strong>Phone:</strong></h3>
            <div class="float-right">
              <input [(ngModel)]="user.phone"
                     placeholder="Phone"
                     class="form-control"/>
            </div>
          </li>
          <li class="list-group-item bg-light"><h3 class="float-left"><strong>Address:</strong></h3>
            <div class="float-right">
              <input [(ngModel)]="user.address"
                     placeholder="Address"
                     class="form-control"/>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>


  <div *ngIf="edit" class="container">
    <button (click)="update(user)"
            class="btn btn-primary btn-block "
            style="margin-top: 10px">
      Update
    </button>
    <button (click)="cancel()"
            class="btn btn-danger btn-block "
            style="margin-top: 10px">
      Cancel
    </button>
    <br/>
  </div>

  <div *ngIf="!edit" class="text-center container row">
    <div class="col-md-4">
      <img src="{{user.img_path}}" alt="Smiley face" width="400px" class="rounded img-fluid mx-auto d-block"
           style="border: 2px solid white;"/>
      <div style="margin-top: 10px" class="container">
        <button *ngIf="!profile && !edit && !follow" class="btn btn-block btn-primary" (click)="addFollowing()">Follow
        </button>
        <button *ngIf="!profile && !edit && follow" class="btn btn-block btn-danger" (click)="removeFollowing()">
          Unfollow
        </button>
        <button *ngIf="!admin && profile && !edit" class="btn btn-block btn-secondary" routerLink="">Home</button>

        <button *ngIf="admin && profile && !edit" class="btn btn-block btn-secondary" routerLink="/admin">Administration
        </button>
        <button *ngIf="profile && !edit" class="btn btn-block btn-danger" (click)="logout()">Logout</button>
      </div>
      <br/>
    </div>
    <div class="col-md-8">
      <div class="container bg-light">
        <ul class="list-group list-group-flush">
          <li class="list-group-item bg-light"><h6 class="float-left"><strong>Username:</strong></h6>
            <h5 class="float-right "><em>{{user.username}}</em></h5></li>
          <li class="list-group-item bg-light"><h6 class="float-left"><strong>First Name:</strong></h6>
            <h5 class="float-right"><em>{{user.firstName}}</em></h5></li>
          <li class="list-group-item bg-light"><h6 class="float-left"><strong>Last Name:</strong></h6>
            <h5 class="float-right"><em>{{user.lastName}}</em></h5></li>
          <li class="list-group-item bg-light"><h6 class="float-left"><strong>Email:</strong></h6>
            <h5 class="float-right"><em>{{user.email}}</em></h5></li>
          <li class="list-group-item bg-light"><h6 class="float-left"><strong>Phone:</strong></h6>
            <h5 class="float-right"><em>{{user.phone}}</em></h5></li>
          <li class="list-group-item bg-light"><h6 class="float-left"><strong>Address:</strong></h6>
            <h5 class="float-right"><em>{{user.address}}</em></h5></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">


    <!--<div *ngIf="followings && followings.length > 0" class="col-md-4">-->
    <!--<h3 *ngIf="profile">Users You follow:</h3>-->
    <!--<h3 *ngIf="!profile">User's followings</h3>-->
    <!--<div class="card-deck d-flex justify-content-center">-->
    <!--<div *ngFor="let u of followings">-->
    <!--<div *ngIf="true" class="card shadow-lg p-3 mb-5 bg-white rounded" style="width: 14rem; margin:20px">-->
    <!--<div class="btn" routerLink="{{routerLink}}../user/{{u.following.username}}">-->
    <!--<img class="card-img-top img-fluid bg-light" src="{{u.following.img_path}}" alt="Card image">-->
    <!--<h4 class="card-title card-header ">@<strong>{{u.following.username}}</strong></h4>-->
    <!--</div>-->
    <!--<div class="card-body">-->
    <!--<h6 class="card-text">First Name: <em>{{u.following.firstName}}</em></h6>-->
    <!--<h6 class="card-text">Last Name: <em>{{u.following.lastName}}</em></h6>-->
    <!--<button class="btn btn-block btn-sm btn-primary"-->
    <!--routerLink="{{routerLink}}../user/{{u.following.username}}"> View Profile-->
    <!--</button>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

    <div class="col-md-4">
      <h5 class="btn btn-block btn-lg" routerLink="/users"><strong><i class="fa fa-users fa-lg text-info"></i> Followings </strong></h5>
      <div *ngIf="(profile || admin || follow) && !edit">
      <span *ngFor="let u of followings">
              <span class="btn btn-sm" routerLink="{{routerLink}}../user/{{u.following.username}}">
              <img class="d-flex justify-content-start" src="{{u.following.img_path}}" width="50px">
              <strong class="float-left">@{{u.following.username}}</strong>
              </span>
            </span>
      </div>
    </div>


    <div class="col-md-8">
      <div *ngIf="likedMovies && likedMovies.length > 0 && !edit">
        <h3 *ngIf="profile">Movies You like:</h3>
        <h3 *ngIf="!profile">Movies this User likes:</h3>
        <ul class="list-group list-group-flush" *ngFor="let movie of likedMovies">
          <li class="list-group-item list-group-item-action" routerLink="{{routerLink}}../movie/{{movie.movie.id}}">
            <h5>{{movie.movie.title}}</h5>
          </li>
        </ul>
      </div>
      <br/>
      <div *ngIf="((profile || admin || follow) && bookmarkedMovies && (bookmarkedMovies.length > 0) && !edit)">
        <h3 *ngIf="profile">Movies You bookmarked:</h3>
        <h3 *ngIf="!profile">Movies this User bookmarked:</h3>
        <ul class="list-group list-group-flush" *ngFor="let movie of bookmarkedMovies">
          <li class="list-group-item list-group-item-action" routerLink="{{routerLink}}../movie/{{movie.movie.id}}">
            <h5>{{movie.movie.title}}</h5>
          </li>
        </ul>
      </div>
    </div>

  </div>

</div>


