<div class="">
  <h1> Advanced Search</h1>
  <p> Use this app to browse new releases and find your favourite movies </p>
  <form>
    <div class="form-group">
      <span class="input-group">
      <input type="text" name="title" [(ngModel)]="title" (keyup)="searchMoovie()" class="form-control"
             placeholder="Search a movie">
      <button class="btn btn-success" (click)="searchMoovie(title)">Search</button>
    </span>
    </div>
  </form>

  <div *ngIf="results">

    <div *ngFor="let res of results">
      <div class="list-group-item list-group-item-action " style="margin: 10px; border: 1px white solid" routerLink="../movie/{{res.id}}">{{res.title}>
        <div class="row">
          <div class="col-md-9">

            <h4><a routerLink="../movie/{{res.id}}">{{res.title}}</a></h4>
            <p> {{res.overview.substring(0, 250)+'...' }} </p>
            <div>
              <strong>Genres: </strong>
              <span>Genre</span>
            </div>

          </div>
          <div class="col-md-3">
            <div *ngIf="res.poster_path; else poster">
            <img src="{{img}}{{res.poster_path}}" width="100">
            </div>
            <ng-template #poster>
              <img src="http://a-movies.info/public/img/no_poster.jpg" width="100">
            </ng-template>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
