<div class="container container-fluid" *ngIf="movie">
  <header>
    <img *ngIf="!local" src="{{img}}{{movie.poster_path}}">
    <img *ngIf="local" src="{{movie.poster_path}}">
    <h1>
      {{movie.title}}
    </h1>
    <p>
      {{movie.overview}}
    </p>
  </header>
  <p> Number of likes: {{numberOfLikes}}</p>
  <div *ngIf="loggedIn" class="input-group">
    <div [(ngSwitch)]="liked">
      <button *ngSwitchCase="true" (click)="unlike()" class="btn btn-danger fas fa-heart"></button>
      <button *ngSwitchCase="false" (click)="like()" class="btn btn-outline-danger fas fa-heart"></button>
    </div>
    <div [(ngSwitch)]="bookmarked">
      <button *ngSwitchCase="true" (click)="unbookmark()" class="btn btn-warning fa fa-bookmark"></button>
      <button *ngSwitchCase="false" (click)="bookmark()" class="btn btn-outline-warning fa fa-bookmark"></button>
    </div>


    <input type="text" name="title" [(ngModel)]="review" class="form-control"
           placeholder="Add Review">
    <button class="btn btn-success fa fa-plus" (click)="addReview()"></button>
  </div>


  <div *ngIf="reviews">
    <div *ngFor="let review of reviews">
      <div class="row container-fluid container list-group-item" style="padding: 5px; margin: 5px">
        <div class="col-md-2">
          <img src="{{review.user.img_path}}" width="50px" >
          <h5>{{review.user.username}}</h5>
        </div>
        <div class="col-md-8">
          <p> {{review.review}} </p>
        </div>
        <div class="col-md-2">
          <p> {{review.date.split("G")[0]}} </p>
        </div>
      </div>
    </div>


  </div>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
</div>
