<div class="bg-light">
  <br/>
  <div class="container" *ngIf="movie">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <img *ngIf="!local" class="card-img" style="border: 10px solid rgb(240, 241, 242)"
               src="{{img}}{{movie.poster_path}}">
          <img *ngIf="local" class="card-img" src="{{localMovie.poster_path}}">
          <!--<div class="card-body">-->

          <!--</div>-->


          <!--<div class="float-right hidden-md-up">-->
          <!--<button type="button" class="btn btn-dark btn-sm" data-toggle="offcanvas" (click)="adsOn = false">Close</button>-->
          <!--</div>-->
          <!--<div class="float-right hidden-md-up">-->
          <!--<button type="button" class="btn btn-dark btn-sm" data-toggle="offcanvas" (click)="adsOn = false">Close</button>-->
          <!--</div>-->
          <div class="card-img-overlay" style="padding:0px;">
            <div class="float-right hidden-md-up rounded"
                 style="background-color: rgb(240, 241, 242)">
              <div [(ngSwitch)]="bookmarked" class="text-center">
                <i *ngSwitchCase="true" (click)="unbookmark()" class="btn text-warning fa fa-bookmark fa-2x"></i>
                <i *ngSwitchCase="false" (click)="bookmark()" class="btn text-warning far fa-bookmark fa-2x"></i>
              </div>
              <div [(ngSwitch)]="liked" class="text-center">
                <i *ngSwitchCase="true" (click)="unlike()" class="btn text-danger fa fa-heart fa-2x"></i>
                <i *ngSwitchCase="false" (click)="like()" class="btn text-danger far fa-heart fa-2x"></i>
              </div>
            </div>
          </div>

          <!--<p> Likes: {{numberOfLikes}}</p>-->
          <!--<p> Bokmarks: {{numberOfLikes}}</p>-->

        </div>
      </div>

      <div class="col-md-6 card card-header">
        <div>
          <h6 class="float-left"><span class="text-danger">Grade: {{movie.vote_average}} </span>
            <small>({{movie.vote_count}})</small>
          </h6>
          <h6 class="float-right">IMDB_ID<strong class="text-danger">{{' '+ movie.imdb_id}}</strong></h6>
        </div>
        <div class="text-center shadow-lg p-3 mb-5 bg-white rounded" style="margin-top: 20px;">
          <a href="{{movie.homepage}}"><h1 class="text-dark">
            {{movie.title}}
          </h1></a>
          <h6 class="text-center rounded" style="background-color: rgb(233, 236, 239);"><em>«{{movie.tagline}}»</em>
          </h6>
          <small class="text-center"><em>{{movie.status}} <span
            *ngIf="movie.release_date">at{{movie.release_date}}</span></em></small>
        </div>
        <h5 class=" btn-group d-flex justify-content-center"><span class="btn btn-danger disabled"*ngFor="let genre of movie.genres">  <strong>{{genre.name}}</strong></span>
        </h5>
        <br/>
        <div class="row" style="padding-left: 50px">
          <div class="col-4"><strong>Revenue: </strong>: <br/> {{movie.revenue}} $
          </div>
          <div class="col-4"><strong>Budget:</strong> <br/>{{movie.budget}} $
          </div>
          <div class="col-4"><strong>Runtime:</strong> <br/>{{movie.runtime}} min
          </div>
        </div>
        <br/>
        <div class="shadow-lg p-3 mb-5 rounded" style="background-color: rgb(233, 236, 239);">
          <h4>Movie Overview: </h4>
          <h6>
            {{movie.overview}}
          </h6>
        </div>
        <span class="text-center"><h5>Production Companies: </h5>
              <span class="btn btn-sm btn-light disabled" *ngFor="let company of movie.production_companies"> {{company.name}} </span>
        </span>

      </div>
    </div>


    <!--<div> Status: {{movie.status}}-->
    <!--</div>-->
    <!--<div> Grade: {{movie.vote_average}} of ({{movie.vote_count}})-->
    <!--</div>-->
    <!--<div>-->
    <!--IMDB_ID {{movie.imdb_id}}-->
    <!--</div>-->

    <!--<div>-->
    <!--Release Date {{movie.release_date}}-->
    <!--</div>-->
    <!--<div>-->
    <!--<a href="{{movie.homepage}}"> Link</a>-->
    <!--</div>-->

    <!--<div>-->
    <!--IMDB_ID {{movie.imdb_id}}-->
    <!--</div>-->


    <br/>
    <div *ngIf="loggedIn" class="input-group" style="padding-left: 15px">

      <!--<div [(ngSwitch)]="liked">-->
      <!--<button *ngSwitchCase="true" (click)="unlike()" class="btn btn-danger fas fa-heart"></button>-->
      <!--<button *ngSwitchCase="false" (click)="like()" class="btn btn-outline-danger fas fa-heart"></button>-->
      <!--</div>-->
      <!--<div [(ngSwitch)]="bookmarked">-->
      <!--<button *ngSwitchCase="true" (click)="unbookmark()" class="btn btn-warning fa fa-bookmark"></button>-->
      <!--<button *ngSwitchCase="false" (click)="bookmark()" class="btn btn-outline-warning fa fa-bookmark"></button>-->
      <!--</div>-->


      <textarea rows="5" [(ngModel)]="review"
                placeholder="Add Review"
                class="form-control"></textarea>

      <button class="btn btn-dark fa fa-plus" (click)="addReview()"></button>
    </div>

    <br/>

    <div *ngIf="reviews">
      <h2> Reviews </h2>
      <div *ngFor="let review of reviews">
        <div class="row text-center shadow-lg p-3 mb-5 bg-white rounded" style="padding: 5px; margin: 5px;">

          <div class="col-md-2 rounded "  style="padding: 20px" >
            <!--<div class="">-->
            <img src="{{review.user.img_path}}" width="80px">
            <h5>{{review.user.username}}</h5>
            <!--</div>-->
          </div>
          <div class="col-md-8 bg-light" style="padding: 0px 0px;">
            <div *ngIf="review.user._id === user._id" (click)="deleteReview(review.review)" class="float-right hidden-md-up rounded" ><i class="btn text-danger fa-lg fa fa-times"></i></div>
            <br/>
            <h5 style="margin: 20px"> {{review.review}} </h5>
            <br/>
            <br/>
          </div>
          <!--<div class="col-md-1">-->
            <!--<button class="btn btn-lg btn-block btn-danger fa fa-times fa-lg"></button>-->
          <!--</div>-->
          <div class="col-md-2 rounded" style="padding: 20px">
         <!--<div class="">-->
            <h6> <em>{{review.date.split("G")[0]}}</em> </h6>
           <br/>
           <br/>
         <!--</div>-->
          </div>
        </div>
      </div>


    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
  </div>
</div>
